*{
    color:black;
    padding-left: 3cm;
    padding-right: 3cm;
    padding-top: 0cm;
    padding-bottom: 0cm;
    margin: 0;
}
.primera_seccion{
    background-color: aqua;
    color: black;
}
.segunda_seccion{
    background-color: crimson;
    color: snow;
}